---
import { Image } from 'astro:assets';
const items = ["Dog", "Cat","Hourse" ]
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
</head>
<body>
    <h1 class="bg-orange-400 text-lg font-bold text-center p-5">
        About page
    </h1>
    <div class="flex flex-wrap">
        <Image class='m-5' src={'https://picsum.photos/200'} alt="A bird sitting on a nest of eggs." width="200" height="200" />
        <Image class='m-5' src={'https://picsum.photos/200'} alt="A bird." width="200" height="250" />
        <Image class='m-5' src={'https://picsum.photos/200'} alt="A bird." width="200" height="250" />
    </div>
    <br /><br />
    <nav class="bg-gray-800 p-4 rounded-t">
        <ul class="flex space-x-4">
            <li><a href="/" class="text-white hover:text-orange-400">Home</a></li>
            <li><a href="/About" class="text-white hover:text-orange-400">About</a></li>
            <li><a href="/contact" class="text-white hover:text-orange-400">Contact Us</a></li>
            <li><a href="/Services" class="text-white hover:text-orange-400">Services</a></li>
        </ul>
    </nav>
    <ul>
        <li>{items}</li>
    </ul>

    
</body>
</html>
